 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <!--<i class="devicon-html5-plain-wordmark"></i>-->
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>

    <p>
      HTML5, CSS, Bootstap, Sass, Adobe Photoshop, Adobe Illustrator,
      Adobe Indesign, Adobe XD
    </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <!--<i class="devicon-jquery-plain-wordmark colored"></i>-->
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>
          JavaScript, AJAX, JQuery, NodeJS, Typescript, JSON, SQL, XML, Bash
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <!--<i class="devicon-gulp-plain colored"></i>-->
      <i class="devicon-atom-original-wordmark"></i>
      <p>
          Git, Github, Gulp, Atom, Sublime Text, Adobe Dreamweaver, Wordpress
      </p>
    </div>
</div>
