<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Murakami Machine" src="{{ "/assets/img/quotes web.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Murakami Machine </h3>
    <ul>
      <li> Bootstrap</li>
      <li> CSS3</li>
      <li> HTML5</li>
      <li> JavaScript</li>
      <li> JQuery</li>
    </ul>
    <p>This is a small project built with JavaScript. It generates a random quote from author Haruki Murakami, and connects to the users twitter account for sharing.</p>
    <a class="project-link" href="https://dylanneil.github.io/Murakami-Machine/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="RGB Color Game" src="{{ "/assets/img/color game web.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Color Guessing Game </h3>
    <ul>
      <li> CSS3</li>
      <li> HTML5</li>
      <li> JavaScript</li>
    </ul>
    <p>This game is built from scratch with pure html, css, and JavaScript. The user is given 6 colored tiles and an RGB color code. The object of the game is to guess the correct color. User is able to toggle between easy/hard mode (3 options vs 6 options), and reset the game. </p>
    <a class="project-link" href="https://dylanneil.github.io/ColorGame/">Check it out</a>
  </div>
</div>

<div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Interact Map" src="{{ "/assets/img/canada thumbnail web.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Interactive Map Of Canada </h3>
    <ul>
      <li> SCSS/SASS</li>
      <li> HTML5</li>
      <li> SVG</li>
      <li> Compass</li>
    </ul>
    <p>This interactive map interface was developed as a project for Student Management Group (organization-specific data has been removed for the purpose of inclusion in my portfolio). Each drop-pin links to information about the specific location. This project was developed by converting an SVG file to HTML and inline CSS. Animation was developed using SCSS/SASS. </p>
    <a class="project-link" href="https://codepen.io/DylanNeil/full/xzYgzY/">Check it out</a>
  </div>
</div>
</div>
